[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Modern linting & formatting (2025 standard - replaces Black, isort, flake8, pylint)
ruff = "*"
# Type checking
mypy = "*"
# Testing
pytest = ">=8.0.0"
pytest-cov = ">=4.1.0"
coverage = ">=7.0.0"
# Type stubs for static analysis
types-requests = "*"
types-pytz = "*"

[packages]
kodistubs = "*"
# Match versions from addon.xml
requests = "==2.31.0"
pytz = "==2023.3.0"
tzlocal = "==5.0.1"

[requires]
python_version = "3.11"
