[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
setuptools = "*"
addon-submitter = {git = "https://github.com/romanvm/kodi-addon-submitter.git"}
kodi-addon-checker = "*"
yapf = "*"
flake8="*"
mypy = "*"

[packages]
requests = "2.25.1"
kodistubs = "*"
requests-cache = "0.5.2"
pytz = "2021.3"
tzlocal = "3.0.0"

[requires]
python_version = "3.8"
