[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
setuptools = "*"
addon-submitter = {git = "https://github.com/romanvm/kodi-addon-submitter.git"}
kodi-addon-checker = "*"

[packages]
kodistubs = "*"
# Match versions from addon.xml
requests= "==2.31.0"
requests-cache = "==0.5.2"
pytz = "==2023.3.0"
tzlocal = "==5.0.1"

[requires]
python_version = "3.11"
